<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guest">
	<insert id="insertGuest" parameterType="com.band.community.guest.Guest">
	INSERT INTO guestBook_${groupURL}(guestNo, memberNo, content)
	   VALUES (guestBook_seq.NEXTVAL, #{memberNo}, #{content})
	</insert>
	
	<select id="dataCount" resultType="Integer" >
	   SELECT NVL(COUNT(*), 0) FROM guestBook_${url}
	</select>
	
	<select id="listGuest" resultType="com.band.community.guest.Guest" 
	          parameterType="map">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT guestNo,g.memberNo, name, g.content, g.created,groupURL
			        FROM guestBook_${url} g 
	                JOIN member_${url} m ON g.memberNo=m.memberNo
	                ORDER BY guestNo DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<delete id="deleteGuest" parameterType="map">
	DELETE guestBook_${url} WHERE guestNo=#{guestNo}
	</delete>   

</mapper>