<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interest">

<sql id="where-list">
			TO_DATE(TO_CHAR(hashDate, 'YYYY-MM-DD'), 'YYYY-MM-DD') &lt; TO_DATE(#{searchValue2}, 'YYYY-MM-DD') AND
			TO_DATE(TO_CHAR(hashDate, 'YYYY-MM-DD'), 'YYYY-MM-DD') &gt; TO_DATE(#{searchValue}, 'YYYY-MM-DD')
</sql>


<select id="listInterest" resultType="com.band.manager.interest.Interest">

	SELECT * FROM (
		SELECT tb.*, ROWNUM rnum FROM(
			SELECT hashName, count(*) hashCount
			FROM hashcode
			<where>
				<if test="searchValue != null and searchValue!='' and searchValue2 != null and searchValue2!='' ">
					<include refid="where-list"/>
				</if>
			</where>
			GROUP BY hashName
			ORDER BY hashCount DESC
		<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
		]]>

</select>

<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT  NVL(COUNT(*),0) FROM(
			SELECT hashName 
			FROM hashcode 
			<where>
				<if test="searchValue != null and searchValue!='' and searchValue2 != null and searchValue2!=''">
					<include refid="where-list"/>
				</if>
			</where>
			GROUP BY hashName)
		
</select>

<insert id="insertHash" parameterType="String">
	INSERT INTO hashcode(hashName, hashNum) 
	VALUES(#{hashName}, hash_seq.NEXTVAL)
</insert>
	
</mapper>