<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

<select id="listNotice" parameterType="map" resultType="com.band.manager.notice.Notice">
SELECT * FROM(
	SELECT tb.*, ROWNUM rnum FROM(
		SELECT noticeNo, content, created, endDate, groupURL 
		FROM notice
		WHERE groupURL=#{groupURL}
		ORDER BY noticeNo DESC
	<![CDATA[
	    ) tb WHERE ROWNUM <= #{end}
	) WHERE rnum >= #{start}
	]]>

</select>

<select id="listCommunityNotice" parameterType="map" resultType="com.band.manager.notice.Notice">
SELECT * FROM(
	SELECT tb.*, ROWNUM rnum FROM(
		SELECT noticeNo, content, created, endDate, groupURL 
		FROM notice
		WHERE groupURL=#{groupURL} and TO_DATE(TO_CHAR(endDate, 'YYYY-MM-DD'), 'YYYY-MM-DD')>TO_DATE(TO_CHAR(#{todate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
		ORDER BY noticeNo DESC
	<![CDATA[
	    ) tb WHERE ROWNUM <= #{end}
	) WHERE rnum >= #{start}
	]]>

</select>

<insert id="insertNotice" parameterType="com.band.manager.notice.Notice">
	  INSERT INTO notice(noticeNo, content, endDate, groupURL)
	  VALUES (notice_seq.NEXTVAL, #{content}, TO_DATE((SUBSTR(#{noticeDate}, -10 ,10)), 'MM/DD/YYYY'), #{groupURL})
</insert>

<select id="dataCount" parameterType="map" resultType="Integer">
	  SELECT NVL(COUNT(*), 0) FROM notice WHERE groupURL=#{groupURL}
</select>

 <!-- 수정 -->
<update id="updateNotice" parameterType="com.band.manager.notice.Notice">
	UPDATE notice SET content=#{content}, endDate=#{endDate} WHERE noticeNo = #{noticeNo}
</update>
      
<!-- 삭제 -->
<delete id="deleteNotice" parameterType="Integer">
	DELETE FROM notice WHERE noticeNo = #{noticeNo}
</delete>


<!-- ********************* -->
<!-- 회계내역 -->
<select id="readAccount" parameterType="map" resultType="com.band.account.NoticeAccount">
	SELECT listNum, listName, transactionNo FROM accountNotice WHERE groupURL=#{url}
</select>

<select id="accountList" parameterType="map" resultType="com.band.account.Account">
	SELECT * FROM (
		SELECT ROWNUM rnum, tb.* FROM(
			SELECT transactionNo, TO_CHAR(tranDate, 'YYYY-MM-DD') tranDate, tranName, tranData, 
				   withdrawal, deposit, memo, accountName, eventNo
			FROM accounting_${url}
			WHERE transactionNo IN
			<foreach item="transactionNo" index="index" collection="transactionNo"
                            open="(" separator="," close=")">
                    #{transactionNo}
            </foreach>
			ORDER BY tranDate DESC, transactionNo DESC
		)tb
	) 
</select>
</mapper>